<h1>Edit Your Profile</h1>

<%= link_to 'Go Back', user_path(@user) %>

<%= form_for @user do |f| %>
  Name: <%= f.text_field :name, placeholder: 'name' %> <br>
  Breed: <%= f.text_field :species, placeholder: 'breed' %> <br>
  Age:  <%= f.text_field :age, placeholder: 'age' %> <br>
  Bio:  <%= f.text_area :bio, placeholder: 'bio' %> <br>
  Tagline: <%= f.text_field :body, placeholder: 'tagline' %> <br>
  <%= f.submit 'Update Profile' %>
<% end %>
