<head>
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

<style media="screen">

  body{
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
}
  h1{
    font-size: 55px;
}
</style>
</head>

<body>

<h1 class="text-center">All Anilogs</h1>

<%= link_to 'My Profile', user_path(@user) %>

<!--  index of user profiles-->
<% @users.each do |u| %>
  <hr>
  <%= link_to image_tag(u.photo.url(:medium), {class: 'img-circle'}), user_path(u) %> <br>
  Name:   <%= u.name %> <br>
  Breed:  <%= u.species %> <br>
  Age:    <%= u.age %> <br>
    <% if(u.statuses.last) %>
      Status: <%= u.statuses.last.body %> <br>
    <% end %>
<% end %>

</body>
