<h1 class="text-center">Create A Profile</h1>

<%= form_for @user, html: { multipart: true } do |f| %>
  <%= f.label :name %> <br>
  <%= f.text_field :name, class:"form-control", placeholder: 'pet name' %> <br>
  <%= f.label :species, 'Breed' %> <br>
  <%= f.text_field :species, class:"form-control", placeholder: 'pet breed' %> <br>
  <%= f.label :age %> <br>
  <%= f.text_field :age, class:"form-control", placeholder: 'pet age' %> <br>
  <%= f.label :bio %> <br>
  <%= f.text_field :bio, class:"form-control", placeholder: 'pet description' %> <br>
  <%= f.label :email %> <br>
  <%= f.text_field :email, class:"form-control", placeholder: 'pet owner email address' %> <br>
  <%= f.label :password %> <br>
  <%= f.text_field :password, class:"form-control", placeholder: 'password' %> <br>
  <input class="btn btn-default" type="submit" value="Submit">
<% end %>
