<h1 class="text-center">Welcome to Anilog<small> A Social App for Pets</small></h1>

<h3 class="text-center">Create A Profile</h3>

<%= form_for @user do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name, class:"form-control", placeholder: 'pet name' %>
  <%= f.label :species, 'Breed' %><br>
  <%= f.text_field :species, class:"form-control", placeholder: 'pet breed' %>
  <%= f.label :age %><br>
  <%= f.text_field :age, class:"form-control", placeholder: 'pet age' %>
  <%= f.label :body, 'Tagline' %><br>
  <%= f.text_field :body, class:"form-control" , placeholder: 'caption'%>
  <%= f.label :bio %><br>
  <%= f.text_field :bio, class:"form-control", placeholder: 'pet description' %>
  <%= f.label :email %><br>
  <%= f.text_field :email, class:"form-control", placeholder: 'pet owner email address' %>
  <%= f.label :password %><br>
  <%= f.text_field :password, class:"form-control", placeholder: 'password' %> <br>
  <input class="btn btn-default" type="submit" value="Submit">
<% end %>
