<h1>Meet...</h1>

<hr>
Name:     <%= @user.name %> <br>
Age:      <%= @user.age %> <br>
Breed:    <%= @user.species %> <br>
About Me: <%= @user.bio %> <br>

<%= form_for @status do |f| %>
  <%= f.text_area :body, placeholder: 'update status' %>
  <%= f.submit %>
<% end %>

<% if @status %>
My Status:<%=  @status.body %>
<% end %>

<hr>

<%= link_to 'All Anilogs', users_path %> <br>

<%= link_to 'Edit Profile', edit_user_path %>
