<h1>Meet...</h1>

<hr>
Name: <%= @user.name %> <br>
Age:  <%= @user.age %> <br>
      <%= @user.body %> <br>

<% if @status %>
  <%=  @status.body %>
<% end %>

<%= link_to 'All Anilogs', users_path %>

<%= link_to 'Edit Profile', edit_user_path %>
